<div class="container grid">
    <div class="lable-login">
        <span>LOGIN</span>
    </div>
    <div class="p-field">
        <label>User name</label>
        <input id="username" type="username" pInputText [(ngModel)]="userName" />
    </div>
    <div class="p-field">
        <label>Password</label>
        <input id="password" type="password" pInputText [(ngModel)]="password" />
    </div>
    <div class="btn">
        <p-button label="Login"></p-button>
        <p-button label="Register"></p-button>
    </div>
</div>