<div class="container">
    <div class="lable-login">
        <span>Login</span>
    </div>
    <div class="p-field">
        <label>User name</label>
        <input id="username" type="username" pInputText [(ngModel)]="userName" />
    </div>
    <div class="p-field">
        <label>Password</label>
        <input id="password" type="password" pInputText [(ngModel)]="password" />
    </div>
    <div class="btn">
        <p-button label="Login"></p-button>
        <p-button label="Register"></p-button>
        <div>
            <a href="https://www.youtube.com/watch?v=YalSa7acKQU"> click</a>
        </div>
    </div>
</div>