<div class="container">
    <div class="grid info">
        <div class="col-8">
            <div class="grid">
                <div class="col-12 newCharity blockInfo">
                    <div class="box-layout">
                        <span>Create new campaign</span>
                        <button pButton pRipple label="Create" icon="pi pi-plus"></button>
                    </div>
                </div>
                <div class="col-12 listCharity blockInfo">
                    <div class="box-layout">
                        <app-list-campaign></app-list-campaign>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-4 Topdonator blockInfo">
            <div class="box-layout">
                <app-least-campaign></app-least-campaign>
            </div>
        </div>
    </div>
</div>