<!-- <p>campaign-detail works!</p> -->
<div class="container">
    <div class="grid">
        <div class="col-8 campaign-info">
            <div class="grid">
                <div class="col -4 image">
                    <p-image src="../../../assets/image/vacxin.png" alt="Image" width="100%"></p-image>
                </div>
                <div class="col-8">
                    <p>Quỹ vaccine phòng chống Covid-19</p>
                    <p style="color: violet;">Vì một việt nam khoẻ mạnh</p>
                    <p>
                        Progress:
                        <p-progressBar [value]="value"></p-progressBar>
                        10,000,000,000 VND raised of 60,000,000,000 VND goal
                    </p>
                    <p>
                        Date start: 1/1/2021
                    </p>
                </div>
            </div>
            <div class="grid">
                <div class="col-6">Activite</div>
                <div class="col-6">comment of donator</div>
            </div>
        </div>
        <div class="col-4 list-donator">
            top donator
        </div>
    </div>
</div>